---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Jhon Doe</h1>
			<p class="hero__text">
				Una descripción breve y llamativa sobre el tema principal del sitio
			</p>
			<Boton href="#" texto="Quiero saber más"/>
		</div>
    <img
		class="hero__img"
		src="/img/jhon-doe.webp"
		alt="Jhon Doe"
		width="384"
    	height="384"
	/>
	</div>
</section>
