---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Escribe aquí tus habilidades, recuerda mencionar las más relevantes
			y evitar sobrecargar las habilidades , este apartado es muy
			importante para dar a conocer lo que sabes y es una parte importante
			para las empresas, pero si colocas demasiado, muchas veces se
			pensará que es exagerado, mejor coloca en lo que más te destaques y
			a la hora de postularte puedes mencionar las otras cosas que también
			sabes.
		</p>
	</div>
</section>
