---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Habla sobre tí, tu profesión, lo que te gusta, cual es tu
				pasatiempos, que haces en tu ratos libres, que cosas te apasionan y
				has aprendido, ¿porqué elegiste está profesión?, ¿Tienes mascota?
				¿Te gusta ir a caminar al parque? ¿Estudiaste algo más? ¿En que eres
				bueno?
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
