---
import Boton from "../components/atoms/Boton.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Pagina no encontrada">
        <h1 class="text-xl">Pagina no encontrada</h1>
        <Boton texto="Regresar" href="/"/>
</Layout>