---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="jhonDoe">
	<div class="terminal__skills">
		<h2>Mis habilidades</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/bootstrap.svg"
				color="#7738ff"
				name="Bootstrap"
			/>
			<TerminalIcon
				src="/assets/angular.svg"
				color="#FF4747"
				name="Angular"
			/>
			<TerminalIcon
				src="/assets/react.svg"
				color="#00D1FF"
				name="React"
			/>
			<TerminalIcon src="/assets/bun.svg" color="#F3CBC2" name="Bun" />
			<TerminalIcon src="/assets/css.svg" color="#00A3FF" name="CSS" />
			<TerminalIcon
				src="/assets/electron.svg"
				color="#3F75FF"
				name="Electron"
			/>
		</div>
	</div>
</Terminal>
