---
import './header.css';
const { title } = Astro.props;
---

<nav class="header__nav">
	<a href="/" class="profile">
		<img
			src="https://itssofi.dev/img/avatar-black.webp"
			alt="sofiDev img"
			width="40px"
			height="40px"
		/>
		<h1>{ title }</h1>
	</a>
	<div class="links">
		<a href="#home"><span>Home</span></a>
		<a href="#about_me"><span>Sobre mi</span></a>
		<a href="#contact"><span>Contactame</span></a>
	</div>
</nav>
