---
import './header.css';
const { origin, name } = Astro.props;
---

<header class="header">
	<div class="header__container">
		<a href="/" class="profile">
			<div class="img__container">
				<img
					class="header__img"
					src="../../img/jhon-doe.webp"
					alt="sofiDev img"
					width="40px"
					height="40px"
				/>
			</div>
			<h3 class="color__gradiente header__title">
				{name}
			</h3><!-- No puede ir un h1 en el header. Se cambió por h3 -->
		</a>
		<nav class="links"   tabindex="0.1">
			<button class="menu__btn" >Menú</button>
			<ul class="header__list">
				{
					origin.map((data) => (
						<li>
							<a class="menu__link" href={data.link}>
								<span class="icon__container" >
									<iconify-icon
										class="icons"
										icon={data.icon}
										width="20"
										height="20"
									/>
									{data.content}
								</span>
							</a>
						</li>
					))
				}
			</ul>
		</nav>
	</div>
</header>
