---
import './header.css';
const { origin, name } = Astro.props;
---

<header class="header">
	<div class="header__container">
		<a href="/" class="profile">
			<img
				src="https://itssofi.dev/img/avatar-black.webp"
				alt="sofiDev img"
				width="40px"
				height="40px"
			/>
			<h1 class="color__gradiente header__title">{name}</h1>
		</a>
		<nav class="links">
			<ul class="header__list">
				{
					origin.map((data) => (
						<li>
							<a href={data.link}>{data.content}</a>
						</li>
					))
				}
			</ul>
		</nav>
	</div>
</header>
