---
import Card from "../components/Card.astro";
import Title from "../components/atoms/Title.astro";
import { getCollection } from "astro:content";
import Boton from "./atoms/Boton.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<section class="flex-col w-full h-full  justify-center flex-wrap">

  <Title contenido="Mis artículos" />
  <div class="flex self-center gap-[20px] justify-center flex-wrap">
    {
      posts.slice(1, 4).map((post) => (
        <Card
          title={post.data.title}
          content={post.data.slug}
          img={post.data.heroImage}
          href={`/blog/${post.slug}/`}
        />
      ))
    }
  </div>
  <div class="flex justify-center m-5">
    <Boton href="/blog" texto="Ver mas"/>
  </div>
</section>
