---
import Card from "../components/Card.astro";
import Title from "../components/atoms/Title.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<section class="flex-col w-full h-full">
  <a href="/blog">
    <Title contenido="Mis artículos" />
  </a>
  <div class="flex justify-center w-[80%] gap-10">
    {
      posts.map((post) => (
        <Card
          title={post.data.title}
          content={post.data.slug}
          img={post.data.heroImage}
          href={`/blog/${post.slug}/`}
        />
      ))
    }
  </div>
</section>
