---

---

<section class="hero">
  <div class="hero__container">
    <h1 class="hero__title color__gradiente">Jhon Doe</h1>
    <p class="hero__text">Fullstack Developer</p>
  </div>
  <img class="hero__img" src="../img/pingu.jpg" alt="Pingu" />
</section>

<style>
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100dvh;
    height: auto;
  }
  .hero__img {
    width: 35%;
    border-radius: 50%;
    min-width: 30rem;
  }
  .hero__title {
    font-size: 72px;
  }
  .hero__text {
    font-size: 2.1rem;
    color: white;
  }

  @media screen and (max-width:768px) {
    .hero{
        flex-direction: column;
    justify-content: center;
    }
  }
</style>
