---
const {contenido} = Astro.props;
---

<h2 class="color__gradiente">{contenido}</h2>


<style>
    h2{
        font-size: 4rem;
        text-align: center;
        margin-bottom: 3rem;
    }
</style>