---
import type { CollectionEntry } from 'astro:content';
import FormatedDate from '../components/FormatedDate.astro';
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
type Props = CollectionEntry<'blog'>["data"];
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator}/>
    <title>Blog</title>
  </head>
  <body>
	<main>
    <div>
      <FormatedDate date={pubDate}/>
    </div>
    <h1>{title}</h1>
		<slot/>
	</main>
  </body>
</html>
