---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
type Props = CollectionEntry<"blog">["data"];
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Blog</title>
  </head>
  <body>
    <main>
      <section>
        <slot />
      </section>
    </main>
  </body>
</html>
