---
import "../styles/global.css"
interface Props {
	title: string;
}
const { title } = Astro.props;
import Header from '../components/header/Header.astro';
import { mainMenu } from '../components/data/menuData.js';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
		<title>{title}</title>
	</head>
	<body class="flex flex-col">

			<slot/>
	</body>
</html>
